
<data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)">
<data-table-column
  [property]="'name'"  
  [header]="'Denumire'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'value'"  
  [header]="'Price'"
  [sortable]="true"
  [resizable]="true"
>
  <ng-template #dataTableCell let-item="item">
    {{ item.value | currency:'USD':true }}
  </ng-template>
</data-table-column>

<data-table-column
  [property]="'$key'"  
>
  <ng-template #dataTableCell let-item="item">
    <a [routerLink]="['/admin/products/', item.id]">Edit</a>
  </ng-template>
</data-table-column>

</data-table>