
<div class="container">
    <form #frm="ngForm" (ngSubmit)="saveTool(frm)">
        <div class="form-group">
            <label for="nm">Denumire Unealta</label>
            <input id="nm" name="name" type="text" name="name" [(ngModel)]="ts.formData.name" class="form-control" required minlength="4">
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="vl">Pret</label>
                <input id="vl" name="value" type="number" name="value" [(ngModel)]="ts.formData.value" class="form-control">
            </div>
            <div class="form-group col-md-7">
                <label for="st">Stare</label>
                <input type="text" id="st" name="status" [(ngModel)]="ts.formData.status" class="form-control" required>
            </div>
        </div>

        <div class="form-row mt-2">
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-database"></i> Salvare</button>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-secondary btn-block" (click)="resetForm(frm)"><i class="fas fa-redo"></i> Anulare</button>
            </div>        
        </div>
    </form>
</div>
